.password {
    width: 100%;
}

.password__input-icon {
    width: 100%;
    border: 2px solid rgba(7, 112, 237, 0.60);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
    color: #0770ED;
    border-radius: var(--border-radius);
}

.password__input {
    outline: none;
    border: none;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #0770ED;
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: #0770ED;
}

::placeholder{
    color: #0770ED;
}

.password__input--valid {
    border-color: #0FA846;
}

.password__input--nonValid {
    border-color: #C51B32;
}

.password span {
    color: #C51B32;
    font-size: 0.9rem;
}

.password div[role="button"] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}